body{
     background-color:#CAE1FF;
    font-style: italic;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding :35px;
    padding-bottom: 10px;
    color: #1C86EE;
    text-shadow: 2px 2px #BEBEBE;
    font-family: "comic sans MS" , times , 'Times New Roman',  serif ; 
}
.cartão{
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
}

.cart{
    color: #363636;
    background-color:#7A8B8B ;
    width: 400px;
    height: 200px;
    cursor: pointer;
    background-image: url(assets/backgorund.png);
    /* no caso tem essa maneira de fazela caber dentro do espaço desejado , más utilizei a outra maneira por ser mais facil*/
    /*background-size: 400px 200px;*/
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 4px;
    border-style: solid;
    border-color:#BFEFFF ;
    border-radius: 5%;
}
h2{
   text-indent: 15px;
}
.links{
    text-decoration: none;
    color: #363636;
    cursor: progress;
}


